# Decision Tree Classifier

In [26]:
import pandas as pd

In [9]:
iris = pd.read_csv("C:/Users/hp/Documents/Iris.csv")

In [10]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
y = iris[["Species"]]

In [13]:
x = iris[["SepalLengthCm"]]

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.30)

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dtc = DecisionTreeClassifier()

In [18]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [19]:
y_pred=dtc.predict(x_test)

In [20]:
y_test.head()

             Species
11       Iris-setosa
10       Iris-setosa
69   Iris-versicolor
47       Iris-setosa
132   Iris-virginica

In [21]:
y_pred[0:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
confusion_matrix(y_test,y_pred)

array([[14,  2,  0],
       [ 2,  7,  3],
       [ 0,  7, 10]], dtype=int64)

In [25]:
(14+7+10)/(14+2+0+2+7+3+0+7+10)

0.6888888888888889

# DECISION TREE REGRESSOR

In [28]:
from sklearn.tree import DecisionTreeRegressor

In [29]:
dtr = DecisionTreeRegressor()

In [30]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
y = iris[["SepalLengthCm"]]

In [32]:
x = iris[["PetalLengthCm"]]

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [36]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [37]:
y_pred = dtr.predict(x_test)

In [38]:
y_test.head()

     SepalLengthCm
106            4.9
147            6.5
114            5.8
39             5.1
69             5.6

In [39]:
y_pred[0:5]

array([5.9       , 6.7       , 6.16      , 5.10909091, 5.2       ])

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mean_squared_error(y_test,y_pred)

0.2078286960514234